# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IntelliJ
.idea/

# GitHub
.github/

# Custom
offers_parsed.json
offers_scraped.json
images/